<br><br>
<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <img src="../../../assets/birthdayimg4.jpg" >
    </div>
    <div class="col-5">
        <h2 style="color: rgb(57, 17, 110);">CLASSIC HALL</h2> <br>
        <div class="row">
            <div class="col-sm">
                <h6 style="color:brown">Size</h6>
                <h6 style="color:brown">Floor No</h6>
                <h6 style="color:brown"> Type</h6>
                <h6 style="color:brown"> Availability</h6>
                <h6 style="color:brown"> Cost of room</h6>
            </div>
            <div class="col-sm">
                <h6 style="color:rgb(64, 45, 122)">200</h6>
                <h6 style="color:rgb(64, 45, 122)">2</h6>
                <h6 style="color:rgb(64, 45, 122)">Air Conditioner</h6>
                <h6 style="color:rgb(64, 45, 122)">Yes</h6>
                <h6 style="color:rgb(64, 45, 122)">1000</h6>
            </div>
            <div class="col-5"></div>
        </div> 
        <button type="button" class="btn btn-primary" (click)="booking()">Book</button>

    </div>
    <div class="col-1"></div>

</div>
<br><br>