<div class="row">
    <div class="col-sm-4">
        <div class="cardIn">
            <img class="imgcardsize" src="../../../assets/birthdayimg4.jpg" >
            <h4>Savoury Sea Shell</h4>
            <button type="button" class="btn btn-primary " (click)="Birthdayhall1()">EXPLORE >></button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="cardIn">
            <img class="imgcardsize" src="../../../assets/birthdayimg5.png" >
            <h4>Nimalan Party Hall</h4>
            <button type="button" class="btn btn-primary ">EXPLORE >></button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="cardIn">
            <img class="imgcardsize" src="../../../assets/birthdayimg6.webp" >
            <h4>New KVL Mini Hall</h4>
            <button type="button" class="btn btn-primary ">EXPLORE >></button>
        </div>
    </div>
</div>
<br>


<BR>
<div class="row">
    <div class="col-sm-4">
        <div class="cardIn">
            <img class="imgcardsize" src="../../../assets/birthday1.jpg" >
            <h4>Candy kidz party hall</h4>
            <button type="button" class="btn btn-primary ">EXPLORE >></button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="cardIn">
            <img class="imgcardsize" src="../../../assets/birthday2.jpg" >
            <h4>Mini Party Hall</h4>
            <button type="button" class="btn btn-primary ">EXPLORE >></button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="cardIn">
            <img class="imgcardsize" src="../../../assets/birthday3.jpg" >
            <h4>Gazelle Garden Lawn Party Hall</h4>
            <button type="button" class="btn btn-primary ">EXPLORE >></button>
        </div>
    </div>
</div>
<br>
