body {
    font-family: Montserrat, sans-serif;
  }

  /* .navbar-brand {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
  } */

  h4{
    color: white;
  }
 .nav-item:hover {
    background-color: rgba(16, 83, 170, 0.4);
  }


  .navbar {
    background-color: #3a4649; 
    color: #f8f9fa; 
  }
